footer {
    margin: auto;
    margin-left: 0px;
    color: #fff;
    text-align: center;

}

.text-footer {
    font-size: 10px;
}

.img-icon {
    padding: 5px;
    margin: 5px;
}

@media (min-width: 1024px) {
    footer {
        margin-left: 261px;
text-align: center;
border-top: 4px solid #49A37B;
    }
 }