.header-container {
display: flex;
justify-content: center;
background-color: #373867;
color: white;
}

.menu-icon {
position: absolute;
top: 20px;
left: 0px;
}

.header-container h1 {
text-align: center;
display: flex;
flex-direction: column;
width: 80%;
}

.first-title {
font-size: 14px;
border-bottom: 3px solid #49A37B;
    ;
}

@media (min-width: 1024px) {
    .header-container {
    display: none;
    }
}