.navbar {
    display: none;
    background-color: bisque;
}
.search {
    margin-top: 20px;
    margin-bottom: 1px;
    border-radius: 10px;
    margin-left: 11px;
    border: 1px solid #49A37B;
    padding: 10px;
    color: #ffffff;
    background-color: #262862;
}

.section-menu {
    background-color: antiquewhite;
}

.list {
    background-color: aqua;
}

.home {
    background-color: beige;
}

.sing-up {
    background-color: blueviolet;
}

.log-in {
    background-color: brown;
}

.title-0 {
    background-color: thistle;
}

.p-0 {
    background-color: hotpink;
}

.address {
    background-color: khaki;
}